@model IEnumerable<cumulative_Jerad_Beauregard.Models.Teacher>



<style>

	form{
		display:flex;
		flex-direction: column;
	}

</style>

<h1>Add a new teacher</h1>
<div id="formcontainer">
<form name="addteacher" method="post" action="/TeacherPage/Create">
	<label for="firstname">FIRST NAME: </label>
	<input name="firstname" id="firstname"/>
	<label for="lastname">LAST NAME: </label>
	<input name="lastname" id="lastname" />
	<label for="employeenumber">EMPLOYEE NUMBER: </label>
	<input name="employeenumber" id="employeenumber" />
	<label for="hiredate">HIRE DATE: </label>
	<input name="hiredate" id="hiredate"/>
	<label for="salary">SALARY: </label>
	<input name="salary" id="salary" />
	<label for="phonenumber">Phone Number: </label>
	<input name="phonenumber" id="phonenumber" />
	<button type="submit">SUBMIT</button>
</form>
</div>

<a href="/TeacherPage/Lists"><h2>Return to Teachers</h2></a>

