@model cumulative_Jerad_Beauregard.Models.Student

<h1>@Model.StudentFName @Model.StudentLName</h1>
<p>Student Number: @Model.StudentNumber</p>
<p>Start Date: @Model.EnrolDate.ToString("yyyy-M-d")</p>
