@model cumulative_Jerad_Beauregard.Models.Student

<h1>@Model.StudentFName @Model.StudentLName</h1>
<p>Student Number: @Model.StudentNumber</p>
<p>Start Date: @Model.EnrolDate.ToString("yyyy-M-d")</p>

<div><a href="/StudentPage/Edit/@Model.StudentId">Edit This Student</a></div>
<div><a href="/StudentPage/DeleteConfirm/@Model.StudentId">Delete This Student</a></div>
<div><a href="/StudentPage/Lists">Return to Students list</a></div>
